body {
    background-color: #6b6a69c9 !important;
}

.container {
    padding: 15px;
}

h2 {
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: grey !important;
}

.card {
    padding: 10px;
    width: 55%;
    margin-left: 20%;
    margin-top: 12%;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

label {
    margin-left: 5px;
}

.input-group {
    margin-top: 10px;
}

.center-align {
    text-align: center;
}

.fa {
    height: 60px;
}

button {
    background-color: #3089ab;
    color: white;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    cursor: pointer;
    width: 100%;
}