<body>
    <div class="container">
        <h2>Login Here</h2>
        <div class="card">

            <form>
                <!-- <label for="email"><b>Email</b></label>
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                <input type="text" placeholder="Enter Email" name="email" required>
    
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
     -->
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="Email address">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" type="password" placeholder="Password">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
                <div class="center-align">
                    <span>Not a user! </span><a href="/signup">Register Here</a>
                </div>
            </form>
        </div>
    </div>
</body>