.search-bar {
    width: 37%;
    margin-left: 30%;
    margin-top: 60px;
}

.has-search .form-control-feedback {
    right: initial;
    left: 5px;
    color: rgb(156, 50, 50);
}

.has-search .form-control {
    padding-left: 40px;
    color: rgb(156, 50, 50);
}

.search-bar ::placeholder {
    color: rgb(156, 50, 50);
    font-size: 1.2em;
    font-style: italic;
}

.site_title h1 {
    font-size: 35px;
    color: black;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.site_title p {
    font-size: 14px;
    color: black;
    text-align: center;
    word-spacing: 4px;
    margin-top: 10px;
    color: white;
    font-weight: lighter;
}