<div class="search-bar">

    <div class="form-group has-feedback has-search">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search here...">
    </div>

</div>
<div class="site_title">
    <h1>NEW DELHI City Guide connects you with the Undiscovered,<br> Unexplored & High Definition New Delhi</h1>
    <hr width="55%">
    <p>NEW DELHI HD – Best City Portal of New Delhi serves a platform to feature your vision in Delhi's new picture ,making what you do more<br/> enthusiastic to the crowd. Get the latest fashion, food, nightlife, lifestyle, academies and events in Delhi
        at Delhi's first ever Hybrid<br> “Magatory Platform” ie combination of Digital Magazine & Directory.</p>
</div>