<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
                <a [routerLink]="['/logohome']" class="navbar-brand"><img class="logo-image" src="assets/images/logo.png"></a>

            </div>
            <div class="collapse navbar-collapse" style="text-align: right;margin: 10px;" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/tourists" class="active" routerLinkActive="active">TOURISTS</a></li>

                    <li><a routerLink="/activities" routerLinkActive="active">ACTIVITIES</a></li>
                    <li><a routerLink="/food" routerLinkActive="active">FOOD</a></li>
                    <li><a routerLink="/accommodation" routerLinkActive="active">ACCOMMODATION</a></li>
                    <li><a routerLink="/blogs">BLOGS</a></li>
                    <li><a [routerLink]="['/about-us']">ABOUT US</a></li>
                    <li><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!--
    <div class="search-bar">

        <div class="form-group has-feedback has-search">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search here...">
        </div>

    </div>
    <div class="site_title">
        <h1>NEW DELHI City Guide connects you with the Undiscovered,<br> Unexplored & High Definition New Delhi</h1>
        <hr width="55%">
        <p>NEW DELHI HD – Best City Portal of New Delhi serves a platform to feature your vision in Delhi's new picture ,making what you do more<br/> enthusiastic to the crowd. Get the latest fashion, food, nightlife, lifestyle, academies and events in Delhi
            at Delhi's first ever Hybrid<br> “Magatory Platform” ie combination of Digital Magazine & Directory.</p>
    </div>

-->
    <router-outlet></router-outlet>
</body>